.pagination {
  display: flex;
  justify-content: center;

  button {
    font-size: 40px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    padding: 3px;
    font-family: "sandro-Regular";
  }
}
