@import "../../scss/mixins";

.title {
  @include position(8%, 1%);
  font-size: 2.75rem;
  mix-blend-mode: difference;
  color: var(--color-white);
  font-family: "Sandro-Universal-Bold";
}

.contentsPage {
  display: flex;
  margin: 6rem 11% 0 11%;

  .contentsContainer {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    z-index: 0;

    .contentsChapter {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 120px;
      grid-row-gap: 70px;
      padding-bottom: 40px;

      .Chapter {
        display: flex;
        justify-content: center;
        align-items: center;

        .chapterRoute {
          display: flex;
          justify-content: center;
          align-items: center;
          text-decoration: none;
          transition: 0.2s ease-in-out;
          color: var(--color-contentText);

          &:hover {
            color: var(--color-contentHover);
          }

          span {
            font-size: 16px;
            line-height: 19px;
            width: 130px;
            margin-left: 35px;
            cursor: pointer;
          }
        }
      }
    }
  }
}