@import "../../scss/mixins";

.title {
  @include position(8%, 1%);
  font-size: 2.75rem;
  mix-blend-mode: difference;
  color: var(--color-white);
  font-family: "Sandro-Universal-Bold";
}

.contentPdfPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 0;

  .pdfContent {
    position: relative;
    background-color: var(--color-pdfDownload);
    width: 1000px;
    min-height: 360px;
    padding: 10px;
    transition: all 0.5s;
    color: var(--color-white);

    h3 {
      font-size: 24px;
      font-family: "sandro-Bold", sans-serif;
      color: var(--color-white);
      line-height: 30px;
      font-weight: 600;
    }

    .downloadPDF {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 170px;
      padding-top: 50px;
      cursor: pointer;
    }
  }
}