.nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 15px 20px 0 20px;
  z-index: 1;
}

.toHomeContainer a {
  width: 78px;
}

.navButtonsContainer {
  display: flex;
}

.navButtonsContainer>div {
  position: relative;
  margin-right: 2px;
}

.navButtonsContainer>button {
  margin-right: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.navButtonsContainer div button {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.lang {
  font-size: 32px;
  color: var(--color-primary);
}

.navButtonsContainer>button:last-child {
  margin-right: 0px;
}