@font-face {
  font-family: "Sandro-Universal-Bold";
  src: url("/assets/fonts/SandroFont/SandroUniversal-Bold.otf");
  font-display: swap;
}

@font-face {
  font-family: "sandro-Regular";
  src: url("/assets/fonts/SandroFont/Sandro-Regular.ttf");
  font-display: swap;
}

@font-face {
  font-family: "sandro-Bold";
  src: url("/assets/fonts/SandroFont/Sandro-Bold.ttf");
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background-color: var(--color-secondary);
  font-family: "sandro-Regular", sans-serif;
}

#root {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}

:root {
  --color-primary: #44413F;
  --color-secondary: #D9D9D9;
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-textHeading: #1C1C1C;
  --color-iconBorder: #707070;
  --color-contentText: #F7F7F7;
  --color-contentHover: #999999;
  --color-pdfDownload: #181818;
}